<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for(let i=0; i < newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox" />
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <%}%>
    </div>


    <div class="box">
        <form class="item" action="<%= listTitle === 'Trabalho' ? '/trabalho' : '/' %>" method="post">
            <label for="newItem" autocomplete="off">Tarefa:</label>
            <input type="text" name="newItem" id="newItem">
<button type="submit" name="list" value=<%= listTitle === 'Trabalho' ? 'trabalho' : 'casa' %>">+</button>
        </form>
    </div>

<%- include('footer'); -%>